.animo-enter{
    opacity: 0;
}
.animo-enter-active{
    opacity: 1;
    transition: opacity 2000ms;
}
.animo-enter-done{
    opacity: 1;
}
.animo-exit{
    opacity: 1;
}
.animo-exit-active{
    opacity: 0;
    transition: opacity 2000ms;
}
.animo-exit-done{
    opacity: 0;
}